{% if not phone %}
    {% set phone = device %}
{% endif%}
<html>
<head>
    <link rel="stylesheet" href="{{ url_for(endpoint='static', filename='bootstrap.min.css') }}" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="{{ url_for(endpoint='static', filename='tables.scss') }}" rel="stylesheet">
    <script src="{{ url_for(endpoint='static', filename='jquery-3.2.1.slim.min.js') }}" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="{{ url_for(endpoint='static', filename='popper.min.js') }}" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="{{ url_for(endpoint='static', filename='bootstrap.min.js') }}" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>AOSiP for {{ phone }}</title>
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-light">
            <a class="navbar-brand" href="/">
                <img src="{{ url_for(endpoint='static', filename='logo.png') }}" width="30" height="30" alt="AOSiP-Logo">
                AOSiP
            </a>
        </nav>
        <div class="row">
            <div class="col-md-6">
                <center>
                    <h5>Device: {{ phone }}</h5>
                </center>
                <img src="{{ url_for(endpoint='static', filename='generic-phone-image.jpg') }}" class="img-responsive" alt="Device Image">
            </div>
            <div class="col-md-6">
                {% set aosip = "http://get.aosip.dev" %}
                {% set sf =  "https://sourceforge.net/projects/illusionproject/files" %}
                {% set changelog = "https://raw.githubusercontent.com/AOSiP-Devices/Updater-Stuff/master" %}
                {% set paypal = "https://paypal.me/AOSiP" %}
                <br><br>
                {% if maintainer %}
                    <h5>Maintainer: {{ maintainer }}</h5>
                {% endif %}
                <br>
                <p>Latest Official Build: {{ zip['official'] }}</p>
                {% if zip['beta'] %}
                    <p>Latest Beta Build: {{ zip['beta'] }}</p>
                    <br><br>
                {% else %}
                    <br><br>
                {% endif %}
                <h6>Downloads:</h6>
                <a href={{ aosip }}/{{ device }}/{{ zip['official'] }} class="badge badge-dark">Official</a>
                {% if zip['beta'] %}
                    <a href={{ aosip }}/{{ device }}/{{ zip['beta'] }} class="badge badge-dark">Beta</a>
                {% endif %}
                <p>Mirrors (May not be up to date at all times):</p>
                <a href={{ sf }}/{{ device }} class="badge badge-success">SourceForge</a>
                <br><br>
                {% if xda %}
                    <a href={{ xda }} class="badge badge-warning">XDA Thread</a>
                {% endif %}
                <a href={{ changelog }}/{{ device }}/changelog class="badge badge-danger">Changelog</a>
                <br><br>
                <p>Donate</p>
                <a href={{ paypal }} class="badge badge-primary">PayPal</a>
            </div>
        </div>
    </div>
</body>
<html>
