<head>
    <link href="{{ url_for(endpoint='static', filename='tables.scss') }}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <link rel="icon" type="image/png" href="{{ url_for(endpoint='static', filename='favicon.ico') }}"/>
    <title>Latest AOSiP Builds</title>
</head>
<body>
<div class="container">
    <div style="text-align: center;">
        <img src="{{ url_for(endpoint='static', filename='logo.png') }}" alt="AOSiP Logo" class="responsive-img"/>
    </div>
    <ul class="responsive-table">
        <li class="table-header">
            <div class="col col-1">Device</div>
            <div class="col col-2">Link</div>
        </li>
        {% for zip in zips %}
            {% set zip = zip[:-4] %}
            {% set device = zip.split('-')[3] %}
            {% set build_date = zip.split('-')[4] %}
            <li class="table-row">
                {% if devices[device] %}
                    <div class="col col-1" data-label="Device"><p>{{ device }} ({{ devices[device] }})</p></div>
                {% else %}
                    <div class="col col-1" data-label="Device"><p>{{ device }}</p></div>
                {% endif %}
                <div class="col col-2" data-label="Link"><a
                        href="{{ device }}">{{ build_date[:4] }}-{{ build_date[4:6] }}-{{ build_date[6:] }}</a></div>
            </li>
        {% endfor %}
    </ul>
    <div style="text-align: center;">
        Hosted on <br/> <a href="https://www.packet.com/"><img src="/static/packet.png" alt=""></a>
    </div>
</div>
</body>
